<div
  class="flex items-center justify-between flex-wrap gap-5 p-6 bg-surface text-on-surface rounded-2xl"
>
  <div class="flex items-center gap-4">
    <span class="text-base font-semibold"
      >{{ images().length }} image{{ images().length !== 1 ? 's' : '' }} ready</span
    >
  </div>
  <button
    class="flex items-center px-6 py-3 text-base font-bold rounded-xl bg-primary text-on-primary transition-all cursor-pointer"
    (click)="onDownloadAll()"
  >
    Download All (ZIP)
  </button>
</div>
