<main class="w-full h-screen items-center justify-center overflow-auto">
  @if (error()) {
    <div class="flex items-center justify-between p-5 bg-white border-black rounded">
      <p class="text-black font-medium">{{ error() }}</p>
      <button
        (click)="stateService.reset()"
        class="px-5 py-2.5 bg-black text-white font-semibold rounded-lg"
      >
        Dismiss
      </button>
    </div>
  }

  @if (!hasPdf()) {
    <app-pdf-uploader (fileSelected)="onFileSelected($event)" />
  }

  @if (hasPdf() && isConverting()) {
    <div class="flex flex-col gap-2 items-center justify-center text-on-background h-full w-full">
      <div
        class="w-10 h-10 border-4 border-black/50 border-t-black rounded-full animate-spin"
      ></div>
      <p class="text-lg">Converting PDF to images...</p>
      <p class="text-sm">Please wait</p>
    </div>
  }

  @if (isCompleted()) {
    <div class="flex flex-col">
      <div class="bg-white text-black p-4 flex flex-col gap-2 border-b-2 border-black">
        <div class="flex flex-wrap gap-4 justify-between items-center">
          <div class="flex flex-col">
            <h3 class="text-xl font-semibold truncate max-w-xs md:max-w-md">
              Filename: {{ pdfDocument()?.name }}
            </h3>
            <span class="text-sm">Pages: {{ pdfDocument()?.numPages }}</span>
          </div>
          <div class="grid grid-cols-2 gap-2 w-full">
            <label class="flex items-center border-2 rounded">
              <span class="p-2 text-sm font-semibold whitespace-nowrap h-full bg-black text-white"
                >Format</span
              >
              <select
                [value]="conversionOptions().format"
                (change)="onFormatChange($event)"
                class="px-4 py-2 w-full text-sm font-medium cursor-pointer focus:outline-none"
              >
                <option value="png">PNG</option>
                <option value="jpeg">JPEG</option>
                <option value="webp">WebP</option>
              </select>
            </label>
            <label class="flex items-center border-2 rounded">
              <span class="p-2 text-sm font-semibold whitespace-nowrap h-full bg-black text-white"
                >Scale</span
              >
              <select
                [value]="conversionOptions().scale"
                (change)="onScaleChange($event)"
                class="px-4 py-2 w-full rounded text-sm font-medium cursor-pointer focus:outline-none"
              >
                <option value="1">1x</option>
                <option value="2">2x</option>
                <option value="3">3x</option>
              </select>
            </label>
          </div>
        </div>
        <app-download-controls
          [images]="convertedImages()"
          (downloadAll)="downloadAll()"
          (downloadSingle)="downloadSingle($event)"
          (reset)="reset()"
        />
      </div>

      <app-image-grid [images]="convertedImages()" (downloadSingle)="downloadSingle($event)" />
    </div>
  }
</main>
