/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: #11658f;
  --color-on-primary: #f8feff;

  --color-secondary: #b8b8b8;
  --color-on-secondary: rgb(40, 40, 40);

  --color-background: #ffffff;
  --color-on-background: #12191d;

  --color-surface: #9ebcd3;
  --color-on-surface: #070e1f;

  --breakpoint-xs: 30rem;
}

[data-theme='dark'] {
  --color-primary: white;
  --color-on-primary: white;

  --color-secondary: white;
  --color-on-secondary: white;

  --color-background: white;
  --color-on-background: white;

  --color-surface: white;
  --color-on-surface: white;
}
