<div
  class="h-full w-full flex flex-col items-center justify-center"
  [class.border-indigo-400]="isDragging()"
  [class.bg-slate-700]="isDragging()"
  [class.border-red-400]="error()"
  [class.bg-red-900]="error()"
  appDropZone
  accept="application/pdf"
  (fileDropped)="onFileDropped($event)"
  (dragover)="onDragOver()"
  (dragleave)="onDragLeave()"
>
  <input type="file" accept="application/pdf" (change)="onFileSelected($event)" #fileInput hidden />

  <p class="text-xl font-semibold">Drop your PDF file</p>
  <p>or</p>
  <button
    (click)="fileInput.click(); $event.stopPropagation()"
    class="bg-primary text-on-primary px-4 py-2 rounded-sm cursor-pointer"
  >
    Browse Files
  </button>

  @if (error()) {
    <p class="text-red-400 text-base mt-6 font-semibold">{{ error() }}</p>
  }
</div>
