<div
  class="h-full w-full flex flex-col gap-2 items-center justify-center bg-white"
  [class.brightness-80]="isDragging()"
  appDropZone
  accept="application/pdf"
  (fileDropped)="onFileDropped($event)"
  (dragover)="onDragOver()"
  (dragleave)="onDragLeave()"
>
  <input type="file" accept="application/pdf" (change)="onFileSelected($event)" #fileInput hidden />

  <p class="text-xl font-semibold">Drop your PDF file</p>
  <p>or</p>
  <button
    (click)="fileInput.click(); $event.stopPropagation()"
    class="bg-black text-white px-4 py-2 rounded-sm cursor-pointer bg-bl"
  >
    Browse Files
  </button>

  @if (error()) {
    <p class="text-base font-semibold">{{ error() }}</p>
  }
</div>
