<button
  class="aspect-square border-4 border-dotted rounded-2xl p-8 flex flex-col items-center justify-center bg-surface text-on-surface border-on-surface cursor-pointer"
  [class.border-indigo-400]="isDragging()"
  [class.bg-slate-700]="isDragging()"
  [class.border-red-400]="error()"
  [class.bg-red-900]="error()"
  appDropZone
  accept="application/pdf"
  (fileDropped)="onFileDropped($event)"
  (dragover)="onDragOver()"
  (dragleave)="onDragLeave()"
  (click)="fileInput.click(); $event.stopPropagation()"
>
  <input type="file" accept="application/pdf" (change)="onFileSelected($event)" #fileInput hidden />

  <div class="flex flex-col items-center justify-center pointer-events-none">
    <p class="text-xl font-semibold">Browse or drop your PDF here</p>
    <p class="">PDF up to 50MB</p>
  </div>

  @if (error()) {
    <p class="text-red-400 text-base mt-6 font-semibold">{{ error() }}</p>
  }
</button>
